<html>
<head>
<meta charset="UTF-8">
<title>@y_sniの流速</title>
</head>
<body>
<p>分速<%= '%.2f' % $tpm %>ツイート at <%= $last_update %></p>
<br />
<a href="https://github.com/yswallow/twi-speed">source</a>
</body>
</html>
